AIRFLOW_UID=50000
AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow@postgres/airflow
AIRFLOW__CORE__LOAD_EXAMPLES=False
GOOGLE_APPLICATION_CREDENTIALS=/opt/airflow/credentials/YOUR_SERVICE_ACCOUNT_FILE.json
